{% extends 'layout.html'%}

{% block content %}

<section class="container mx-auto pt-[7rem]">
  {% include '_includes/HeroTitle.html' %}
  {% include '_includes/SearchBar.html' %}
</section>

{% endblock content %}

{% block javascript %}
<script>

  const submitBtn = document.getElementById('submit-btn');
  const ytUrl = document.getElementById('yt-url');
  const endpoint = "{{url_for('get_video')}}"

  submitBtn.addEventListener('click', (e)=>{
    e.preventDefault();
    
    if(!ytUrl.value){
      flash("value is empty")
      ytUrl.focus()
      return
    }

    if(!validateYoutubeUrl(ytUrl.value)){
      flash("Invalid Youtube url")
      ytUrl.focus()
    }

  })
</script>
{% endblock javascript %}