<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href={{url_for('static', filename='img/logo.png' )}} type="image/x-icon">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">

  {% block css %}{% endblock css %}

</head>

<body class="dark:bg-slate-900">

  {% block content %}{% endblock content %}

  <!-- Javascript -->
  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  {% block javascript %}{% endblock javascript %}
</body>

</html>